.main{
    font-family: 'Poppins', sans-serif;
}
img{
    height: auto;
    max-width: 100%;
}

#home{
    position: absolute;
    width: 100%;
    padding-bottom: 4%;
    color: #fff;
    background-color: #3333;
    background-image: url(./Images/home_img.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
}
.home__overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(51, 30, 238, 0.9), rgba(113, 25, 236, 0.9));
    z-index: -1;
}
.navbar{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav__brand{
    margin-top: 20px;
}
.nav__list{
    display: flex;
    list-style-type: none;
    margin-top: 30px;
}
.nav__link{
    color: #fff;
    font-size: 16px;
    padding: 20px;
    text-decoration: none;
}
svg{
    vertical-align: middle;
}
.shape-bottom{
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
}
/*Mobile nav*/
.nav__bars-btn{
    color: #fff;
    font-size: 35px;
    margin-top: 15px;
    display: none;
}
.nav__overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-200%);
    animation: fadeIn ease-in-out 0.2s;
    transition: transform ease 0.2s;
    z-index: 2;
}
.nav__mobile{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 325px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transform: translateX(100%);
    transition-delay: 1s;
    transition: transform ease-in-out 0.3s;
    z-index: 3;
}
.nav__mobile__list{
    list-style-type: none;
    margin-top: 50px;
}

.nav__mobile__link{
    display: block;
    text-decoration: none;
    color: rgb(100, 100, 100);
    padding: 8px 0;
}
.nav__link-dropdown i{
    color: #d3d3d3;
    font-size: 15px;
    padding-left: 5px;
}
.nav__link-dropdown::after{
    display: inline-block;
    content: counter(#fa-caret-down);
}
.nav__mobile__list hr{
    position: relative;
    left: -40px;
    border: none;
    width: 325px;
    height: 0.2px;
    background-color: #3333;
}
.nav__mobile-close{
    color: rgb(100, 100, 100);
    font-size: 25px;
    position: absolute;
    top: 18px;
    right: 20px;
}
.nav__input{
    display: none;
}
.nav__input:checked ~ .nav__overlay{
    transform: translateX(0)
}
.nav__input:checked ~ .nav__mobile{
    transform: translateX(0);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.home__content{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.home__content h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 0;
}
.home__content-cl1{
    flex: 1;
}
.home__content-cl2{
    margin-top: 40px;
    display: flex;
    z-index: 1;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    animation: RtoL ease-in-out 1.2s;
}
.home__content-cl2 img{
    width: 300px;
}
.home__content-img{
    display: flex;
    width: 190px;
    margin-top: 40px;
}
.home__content-img img{
    padding-right: 10px;
}
.home__content-cl1-detail2{
    font-style: italic;
    font-weight: 200;
}
@keyframes RtoL {
    from {
        opacity: 0;
        transform: translateX(22%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
/* Mobile and Tablet */
@media only screen and (max-width: 63.9375em){
    .navbar{
        width: 90%;
    }
    .home__content{
        width: 90%;
    }
    .nav__bars-btn{
        display: block;
    }
    .nav__pc{
        display: none;
    }
}
/* Mobile */
@media only screen and (max-width: 46.1875em){
    .home__content{
        flex-direction: column;
    }
    .home__content-cl1{
        flex: 1;
    }
    .home__content-cl1-detail1{
        margin-right: 0;
    }
    .home__content h1{
        font-size: 42px;
        font-weight: 600;
        line-height: 50px;
        margin-bottom: 0;
        margin-top: 40px;
    }
    .home__content-cl2{
        margin: auto;
        width: 250px;
    }
    .home__content-img{
        margin-top: 40px;
        width: 160px;
    }
}
/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .home__content-cl1{
        flex: 2;
    }
    .home__content-cl1-detail1{
        margin-right: 70px;
    }
    .home__content h1{
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
        margin-bottom: 0;
    }
    .home__content-cl2{
        flex: 1.2;
    }
    .home__content-img{
        width: 180px;
    }
}