.main{
    color: #444;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: -99;
}
:root{
    --white: #ffffff;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: rgb(21, 21, 21);
}
.header{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
}
h1 h2 h3 h4 h5 h6 {
    color: #2222;
}
body{
    position: relative;
    z-index: -99;
    margin: 0;
}
*{
    box-sizing: border-box;
}
img{
    height: auto;
    max-width: 100%;
}
.text-center{
    text-align: center;
}
#home{
    position: relative;
    top: 0;
    width: 100%;
    color: var(--white);
    padding-bottom: 80px;
    background-color: #3333;
    background-image: url(../../img/welcome-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
}
.home__overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(89, 39, 238, 0.9), rgba(113, 25, 236, 0.95));
    z-index: -2;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav__brand{
    margin-top: 12px;
}
.nav__pc{
    margin-top: 0px;
}
.nav__list{
    list-style-type: none;
    margin-top: 30px;
}
.nav__link{
    color: var(--white);
    padding: 20px;
    text-decoration: none;
}
.nav__link-dropdown i{
    font-size: 15px;
    padding-left: 5px;
}
.nav__dropdown-menu{
    position: fixed;
    top: 75px;
    z-index: 3;
    padding: 20px 100px 0 15px;
    list-style-type: none;
    border-radius: 2%;
    background: var(--white);
    opacity: 0;
    transform: translateY(25%);
    transition: 0.3s;
    visibility: hidden;
}
.nav__dropdown-menu .fa-caret-down{
    color: var(--white);
    font-size: 30px;
    transform: rotate(-90deg);
    position: fixed;
    top: -15px;
    left: 8px;
    margin-bottom: 0;
}
.nav__dropdown-menu li{
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 18px;
}
.nav__link-dropdown:hover .nav__dropdown-menu{
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}
.navbar-sticky{
    position: fixed;
    background-color: var(--white);
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    animation: TtoB 0.1s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 80px;
    z-index: 99;
    margin: 0 auto;
    padding: 0 14vw 5vw 14vw;
    animation: TtoB 0.3s ease;
}
.navbar-sticky img{
    content: url(../../img/logo-purple.png);
    margin-top: 0;
}
.navbar-sticky a{
    color: #444;
}
.navbar-sticky .nav__bars-btn{
    color: rgba(100, 100, 100, 0.7);
}
@keyframes TtoB {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
svg{
    vertical-align: middle;
}
.shape-bottom{
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
}
/*Mobile nav*/
.nav__bars-btn{
    cursor: pointer;
    color: #fff;
    font-size: 35px;
    margin-top: 15px;
    display: none;
}
.nav__overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-200%);
    transition: all ease 0.2s;
    z-index: 2;
    cursor: pointer;
}
.nav__mobile{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 325px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transform: translateX(100%);
    transition-delay: 1s;
    transition: transform ease-in-out 0.3s;
    z-index: 3;
}
.nav__mobile__list{
    list-style-type: none;
    margin-top: 50px;
}

.nav__mobile__link{
    display: block;
    text-decoration: none;
    color: rgb(100, 100, 100);
    padding: 8px 0;
}
.nav__mobile__list hr{
    position: relative;
    left: -40px;
    border: none;
    width: 325px;
    height: 0.2px;
    background-color: #3333;
}
.nav__mobile-close{
    color: rgb(100, 100, 100);
    font-size: 25px;
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}
.nav__input{
    display: none;
}
.nav__input:checked ~ .nav__overlay{
    transform: translateX(0)
}
.nav__input:checked ~ .nav__mobile{
    transform: translateX(0);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.home__content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.home__content h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 75px;
    margin-bottom: 0;
}
.home__content-cl1{
    flex: 1;
}
.home__content-cl2{
    margin-top: 40px;
    display: flex;
    z-index: 1;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    animation: RtoL ease 1.2s;
}
@keyframes RtoL {
    from {
        opacity: 0;
        transform: translateX(22%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.home__content-cl2 img{
    width: 300px;
}
.home__content-img{
    display: flex;
    width: 190px;
    margin-top: 40px;
}
.home__content-img img{
    cursor: pointer;
    padding-right: 10px;
}
.home__content-cl1-detail2{
    font-style: italic;
    font-weight: 300;
}
#counter-number{
    position: relative;
    text-align: center;
    z-index: -3;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.counter-number-row{
    margin-top: 80px;
}
.counter__line{
    width: 1px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2)
}
.counter-number-col .col_number{
    color: #602ce1;
    font-size: 47px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.counter-number-col p{
    color: #222222;
    font-size: 20px;
    font-weight: 600;
}
#features{
    position: relative;
    z-index: -3;
    padding-bottom: 150px;
}   
.feature__btn{
    color: #7c4fe0;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 8px 0 8px 0;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.feature__header p{
    max-width: 90%;
    margin: auto;
}
.feature__header b{
    font-weight: 500;
    color: #222222;
}
.feature-header{
    margin-top: 30px;
    font-size: 47px;
    font-weight: 600;
    color: #222222;
}
.feature-header::after{
    content: "";
    display: block;
    width: 90px;
    height: 2.5px;
    background-color: #7c4fe0;
    margin: 0 auto;
}
.feature-header__line{
    width: 100%;
    height: 5px;
    color: #7c4fe0;
}
.feature-header::before{
    display: inline-block;
    content: counter(.feature-header__line);
}
.features__item{
    margin-top: 40px;
}
.features__item-content{
    transform: translateY(4%);
    transition: 0.3s;
}
.features__item-content:hover{
    transform: translateY(0%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.features__item-content{
    border-radius: 5%;
    padding: 38px 0px 24px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.features__item-content p{
    padding: 0 10% 0 10%;
    font-size: 17px;
}
.features__item-content h4{
    color: #222;
    font-size: 22px;
    margin: 10px;
}
.features__item img{
    width: 55px;
    height: auto;
}
#service{
    position: relative;
    z-index: -5;
    background-color: #f6f9fe;
    padding-top: 50px;
    padding-bottom: 50px;   
}
.service__content-row{
    justify-content: space-around;
}
.service__content-header .header{
    width: 500px;
    padding-right: 0;
}
.service__content .l-6{
    flex: 0.5;
}
.service__image{
    position: relative;
    top: 50px;
}
.service__image img{
    width: 350px;
    height: auto;
    position: absolute;
    right: 0;
}
.service__content-list{
    padding-left: 0;
}
.service__content-list li{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 300;
    display: flex;
}
.service__content-icon{
    width: 25px;
    height: auto;
}
.service__content-btn{
    margin-top: 20px;
    padding: 16px 35px 16px 35px;
    background-color: #702ee4;
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
}
.service__content-icon-box{
    color: var(--purple);
    padding: 14px;
    background-color: var(--white);
    border-radius: 5%;
    margin-right: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 15px;
}
#discover{
    position: relative;
    z-index: -9;
    padding-top: 80px;
    padding-bottom: 80px;
}
.discover__image{
    position: relative;
    height: auto;
}
.discover__image img{
    position: absolute;
    width: 100%;
    right: 0;
}
.discover__content-header{
    margin-top: 0;
}
.discover__content-list{
    padding-left: 0;
}
.discover__content-list li{
    list-style-type: none;
    display: flex;
    margin-bottom: 16px;
}
.discover__svg-check{
    color: var(--indigo);
}
.svg-check{
    width: 13px;
    height: auto;
    margin-right: 15px;
}
.discover__btn{
    justify-content: center;
    align-items: center;
    color: var(--indigo);
    background-color: var(--white);
    padding: 13px 14px 13px 14px;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-right: 30px; 
}
.discover__btn svg{
    width: 25px;
    height: auto;
}
#work{
    position: relative;
    z-index: -10;
    background-image: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);;
    color: var(--white);
    padding-top: 70px;
    padding-bottom: 70px;
}
.work__step img{
    width: 60px;
    height: auto;
}
.work__step::after {
    position: absolute;
    content: '\f054';
    font-size: 45px;
    font-weight: 900;
    color: var(--white-color);
    font-family: 'Font Awesome 5 Free';
    top: 50%;
    right: 0;
    margin-right: -50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
/* Mobile and Tablet */
@media only screen and (max-width: 1023px){
    .section{
        padding: 0 5% 3.5% 5%;
    }
    #home{
        padding-bottom: 10%;
    }
    .navbar-sticky{
        padding: 0 5% 80px 5%;
    }
    .home__content{
        margin-bottom: 0;
    }
    .home__content h1{
        line-height: 65px;
    }
    .home__content-cl1-detail2{
        font-size: 15px;
    }
    .feature-header{
        font-size: 25px;
        margin: 20px auto;
    }
    .discover__content-row{
        flex-direction: column-reverse;
    }
    .discover__image{
        position: relative;
        height: auto;
        margin-top: 10%;
        margin-bottom: 90%;
    }
    .header{
        font-size: 33px;
        line-height: normal;   
    }
}
/* Mobile */
@media only screen and (max-width: 739px){
    .home__content{
        flex-direction: column;
    }
    .home__content-cl1{
        flex: 1;
    }
    .home__content-cl1-detail1{
        margin-right: 0;
    }
    .home__content h1{
        font-size: 42px;
        font-weight: 600;
        line-height: 50px;
        margin-bottom: 0;
        margin-top: 40px;
    }
    .home__content-cl2{
        margin: auto;
        width: 250px;
    }
    .home__content-img{
        margin-top: 40px;
        width: 170px;
    }
    .nav__bars-btn{
        display: block;
    }
    .nav__pc{
        display: none;
    }
    .service__content-header{
        font-size: 32px;
        line-height: normal;
    }
    .service__content-list li{
        font-size: 16px;
    }
}
/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px){
    .home__content-cl1{
        flex: 2;
    }
    .home__content-cl1-detail1{
        font-size: 15px;
        margin-right: 30px;
    }
    .home__content h1{
        font-size: 50px;
        font-weight: 600;
        line-height: 55px;
        margin-bottom: 0;
    }
    .home__content-cl2{
        flex: 1.2;
    }
    .home__content-img{
        width: 180px;
    }
    .nav__bars-btn{
        display: block;
    }
    .nav__pc{
        display: none;
    }
}